html,body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100vw;
    height: 100vh;
}

.App{
    width: 100vw;
    height: 100vh;
}

h1{
    font-size: 36px;
    font-weight: normal;
}

h2{
    font-size: 30px;
    font-weight: normal;
}

h3{
    font-size: 24px;
    font-weight: normal;
}

p{
    font-size: 18px;
    font-weight: normal;
}

/* landing.js CSS */

.landing{
    width: 100%;
    height: 100%;
}

.header{
    height: 12%;
    width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-img{
    display: flex;
    cursor: pointer;
    gap: 1em;
}

.PlantPal-logo-txt{
    font-weight: normal;
    font-size: 48px;
    color: #55883B;
}

li {
    list-style: none;
}

.nav-links{
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 2em;
}

.shopping_cart{
    height: 40px;
    cursor: pointer;
}

.user{
    height: 40px;
    cursor: pointer;
}

.landing-body-1{
    background-color: #E6F0DC;
    width: 100%;
    height: 40%;
}

.landing-body-1-section{
    width: 80%;
    height: 100%;
    margin-left: 10%;
    display: flex;
}

.landing-body-1-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landing-body-1-content h1{
    color: #55883B;
    padding: 0;
    margin: 0;
}

.landing-body-1-img{
    width: 50%;
    position: relative
}

.landing-body-1-img img{
    width: auto;
    height: 90%;
    position: absolute;
    bottom: 0;
    right: 20%;
}

.landing-body-1-btns{
    display: flex;
    gap: 2em;
}

.button-hollow{
    border: 2px solid #9A6735;
    border-radius: 15px;
    background: transparent;
    cursor: pointer;
    color: #9A6735;
    height: 60px;
    width: 150px;
    text-align: center;
    font-size: 18px;
    font-family: inherit;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button-fill{
    border: 2px solid #9A6735;
    border-radius: 15px;
    background: #9A6735;
    cursor: pointer;
    color: #E6F0DC;
    height: 60px;
    width: 150px;
    text-align: center;
    font-size: 18px;
    font-family: inherit;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.grow {
    transition: all 0.2s ease-in-out;
}
  
.grow:hover {
    transform: scale(1.1); 
}

.landing-body-2{
    width: 100%;
    height: 46%;
    margin-top: 2%;
    position: relative;
}

.file-tab-container{
    margin-left: 5%;
    width: 90%;
    height: 12%;
    display: flex;
}

.file-tab{
    width: 30%;
    height: 100%;
    background-color: #55883B;
    border-top-right-radius: 15px;
    border-top-left-radius: 30px;
}

.file-tab-adjust{
    width: 30%;
    height: 100%;
    background-color: #55883B;
    
}

.file-tab-adjust-2{
    background-color: #FFFFFF;
    border-bottom-left-radius: 15px;
    width: 100%;
    height: 100%;
}

.file-box{
    margin-left: 5%;
    width: 90%;
    height: 100%;
    background-image: linear-gradient(to bottom, #55883B,#55883B, rgba(33,53,23,0.05));
    border-top-right-radius: 30px;
}

.landing-card-sections{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 5%;
    height: 70%;
    background-color: transparent;
    position: absolute;
    bottom: 0;
}

.landing-card{
    height: 100%;
    width: 45%;
    background-image: linear-gradient(to bottom, #FFFFFF, rgba(255, 255, 255,0.15));
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    display: flex;
}

.landing-card-img{
    width: 25%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
}

.landing-card img{
    width: 80%;
}

.landing-card-txt{
    width: 60%;
    margin-left: 5%;
    margin-top: 10%;
}

.landing-card-txt h3{
    color: #55883B;
    font-weight: bold;
}

/* User Authentication */

.userAuthentication{
    width: 100%;
    height: 100%;
}

.userAuth-sections{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}


.userAuth-section-1{
    width: 40%;
    height: 100%;
    
    background-image: url("./Images/plant-background-2.png");
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.userAuth-section-2{
    width: 60%;
    height: 100%;
    background-color: #E6F0DC;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}


.inputField{
    height: 8vh;
    position: relative;
}

.inputField input{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border: 4px solid #9A6735;
    background: transparent;
    padding-left: 15%;
    color: #9A6735;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    font-size: 18px;
    
}

.inputField input::placeholder {
    color: #9A6735;
    opacity: 1;
}
  
.inputField input::-ms-input-placeholder {
    color: #9A6735;
}

.inputField input:focus {
    outline: none;
}

.inputField-img{
    pointer-events: none;
    position: absolute;
    left: 2.5%;
    width: 10%;
    top: 50%;
    transform: translateY(-50%);
    max-height: 50%;
}

.userAuth-logo{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.userAuth-logo-img{
    width: 100%;
    height: auto;
}

.userAuth-logo-txt{
    font-weight: normal;
    font-size: 48px;
    color: #55883B;
    text-align: center;
    margin-bottom: 0;
}

.userAuth-section-2-btns{
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin-top: 2%;
}

.text-btn{
    border: none;
    background: transparent;
    cursor: default;
    color: #9A6735;
    font-weight: bold;
    text-align: left;
    font-size: 18px;
    font-family: inherit;
}

.text-btn span{
    cursor: pointer;
}





